# motan-client
*.lock
examples/z*
examples/pb_path/PB_CLASS_PATH/*
vendor

# vim
.*.sw[a-z]
*.un~
Session.vim

# textmate
*.tmproj
*.tmproject
tmtags

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes
*.swp
pretty/zj
tests/coverage/

# weibo-mesh
./agent_runtime
testhelpers/mesh-logs/*
testhelpers/serverlogs/*
agent.pid

# debugger
.gdb*