# motan-client
*.lock
examples/z*
examples/pb_path/PB_CLASS_PATH/*
vendor

# vim
.*.sw[a-z]
*.un~
Session.vim

# textmate
*.tmproj
*.tmproject
tmtags

# OSX
.DS_Store
._*
core.*
.Spotlight-V100
.Trashes
*.swp
.idea/
pretty/zj
tests/coverage/
zjtest_*
.phpunit.result.cache

# weibo-mesh
./agent_runtime
testhelpers/mesh-logs/*
testhelpers/serverlogs/*
weibo-mesh-runpath/*
agent.pid

# debugger
.gdb*
/tests/MockServer/log.txt

composer.phar
composer.lock
.phpunit.cache/
